<h5 style="text-align: center;color: rgb(32, 9, 116);">Skill Tracker App</h5>
<div class="container" style="background-color: lightcyan;">
  <div *ngIf="showMsg==true" style="color: red;">{{errorMsg}}</div>
  <form [formGroup]="searchForm" (ngSubmit)="searchAssociates()">
    <div>
      <table style="width:100%; border:none">
        <tr style="border:none">
          <td style="border:none"><label for="name">Name: </label></td>
          <td style="border:none"><input id="name" type="text" formControlName="name" placeholder="Name"
              (keyup)="disableOtherFields('name')" /></td>
        </tr>
        <tr style="border:none">
          <td style="border:none"><label for="associateId">Associate Id: </label></td>
          <td style="border:none"><input id="associateId" type="text" formControlName="associateId"
              placeholder="Associate Id" (keyup)="disableOtherFields('associateId')" /></td>
        </tr>
        <tr style="border:none">
          <td style="border:none"><label for="skill">Skill: </label></td>
          <td style="border:none"><input id="skill" type="text" formControlName="skill" placeholder="Skill"
              (keyup)="disableOtherFields('skill')" /></td>
        </tr>
      </table>
    </div>
    <br />
    <div class="button-container btn-group-sm">
      <button type="submit" class="btn btn-primary">Search</button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="reset(searchForm)">Reset</button>
    </div>
  </form>
  <br />
</div>

<div class="container" style="background-color:lightgoldenrodyellow" *ngFor="let associateDetail of associateDetailList | paginate : {
      itemsPerPage: tableSize,
      currentPage: page,
      totalItems: count
    }; let i = index">
  <table style="width:100%">
    <tr>
      <td>
        <table style="width:100%; border:1px solid black;">
          <tr>
            <td>Name:</td>
            <td>{{associateDetail.name}}</td>
          </tr>
          <tr>
            <td>Associate Id:</td>
            <td>{{associateDetail.associateId}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><a href="mailto:{{associateDetail.email}}">{{associateDetail.email}}</a></td>
          </tr>
          <tr>
            <td>Mobile No:</td>
            <td>{{associateDetail.mobile}}</td>
          </tr>
        </table>
      </td>&nbsp;

      <td style="width:25%; border:1px solid black;">
        <table>
          <h6>Technical Skill</h6>
          <ng-container *ngFor="let skill of associateDetail.skills">
            <ng-container *ngIf="skill.type=='TECHNICAL'">
              <tr>
                <td style="width:25%; border:1px solid black">{{skill.name}}</td>
                <td style="width:25%; border:1px solid black; text-align: center;">{{skill.level}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </table>
      </td>&nbsp;

      <td style="width:25%; border:1px solid black;">
        <table>
          <h6>Non-Technical Skill</h6>
          <ng-container *ngFor="let skill of associateDetail.skills">
            <ng-container *ngIf="skill.type=='NON-TECHNICAL'">
              <tr>
                <td style="width:25%; border:1px solid black">{{skill.name}}</td>
                <td style="width:25%; border:1px solid black; text-align: center;">{{skill.level}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </table>
      </td>
    </tr>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>
<!-- <div>
  <select (change)="onTableSizeChange($event)">
    <option *ngFor="let size of tableSizes">
      {{size}}
    </option>
  </select>
</div> -->
