<div>
  <form [formGroup]="searchForm" (ngSubmit)="searchAssociates()">
    <div>
      <div>
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name" placeholder="Name" />
      </div>
      <div>
        <label for="name">Associate Id: </label>
        <input id="associateId" type="text" formControlName="associateId" placeholder="Associate Id" />
      </div>
      <div>
        <label for="name">Skill: </label>
        <input id="skill" type="text" formControlName="skill" placeholder="Skill" />
      </div>
    </div>
    <div class="button-container btn-group-sm">
      <button type="submit" class="btn btn-primary">Search</button>
      <button type="button" class="btn btn-primary" (click)="reset(searchForm)">Reset</button>
    </div>
  </form>
  <div class="container" *ngFor="let associateDetail of associateDetailList">
    <div class="row">
      <div class="col-xs-4">
        <table class="table table-bordered">

          <tr>Name</tr>
          <tr>AssociateId</tr>
          <tr>Email</tr>
          <tr>Mobile</tr>

          <tr>{{associateDetail.name}}</tr>
          <tr>{{associateDetail.associateId}}</tr>
          <tr>{{associateDetail.email}}</tr>
          <tr>{{associateDetail.mobile}}</tr>

        </table>
      </div>

      <div class="col-xs-4" *ngFor="let skill of associateDetail.skills">
        <div *ngIf="skill.type=='TECHNICAL'">
            Inside technical block
          <div>{{skill.name}}</div>
          <div>{{skill.level}}</div>
        </div>
      </div>

      <div class="col-xs-4" *ngFor="let skill of associateDetail.skills">
        <div *ngIf="skill.type=='NON-TECHNICAL'">
            Inside Non techinal block
          <div>{{skill.name}}</div>
          <div>{{skill.level}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
